<footer>
    <div class="container-fluid">
        <div class='row'>
            <div class="col-sm-3">
                <h4>Friends</h4>
                <ul>
                    <li><a href="http://vim-adventures.com/#">vim-adventures</a></li>
                    <li><a href="http://115.com/">115</a></li>
                    <li><a href="../google-blockly/demos/maze/index.html" title="Maze Game">Maze Game for Developer</a></li>
                    <li><a href="http://gitbook.liuhui998.com/index.html">git
中文教程</a></li>
                </ul>
            </div>
            <!-- end of #first footer segment -->
            <div class="col-sm-3">
                <h4>Iphone Development</h4>
                <ul>
                    <li><a href="http://www.cocoachina.com/">cocoachina</a></li>
                    <li><a href="http://iphone.tgbus.com/">电玩巴士</a></li>
                    <li><a href="http://www.weiphone.com/">weiphone</a></li>
                    <li><a href="http://iphone.91.com/">91</a></li>
                    <li><a href="http://www.cplusplus.com/reference/">cplusplus
reference</a></li>
                    <li><a href="http://dev.gameres.com/articles.asp?style=j&amp;page=1">GameRes</a></li>
                </ul>
            </div>
            <!-- end of #second footer segment -->
            <div class="col-sm-3">
                <h4>Open Source</h4>
                <ul>
                    <li><a href="http://gcc.godbolt.org/">gcc.godbolt.org</a></li>
                    <li><a href="http://github.com">GitHub</a></li>
                    <li><a href="http://sourceforge.net">sourceforge</a></li>
                    <li><a href="http://stackoverflow.com">stackoverflow</a></li>
                    <li><a href="http://freecode.com">freecode</a></li>
                </ul>
            </div>
            <!-- end of #third footer segment -->
            <div class="col-sm-3">
                <h4>Encourage</h4>
                <p>尝试. 坚持. 分享. 宽容.</p>
            </div>
            <!-- end of #fourth footer segment -->
        </div>
        <!-- end of footer-outer-block -->
    </div>
    <!-- end of footer-area -->
</footer>
