---
desc: 演绎至经典,静候不凡目光
author: doorxp
---

{% assign author = site.data.people[page.author] %}

<!DOCTYPE html>
<html>

<head>
    <title>{{page.title}} - {{ page.desc }}</title>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c58b1d1e4b66476b989d92ba9b6baef0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <meta charset="utf-8">{% if page.title != null %} {% else %} {% endif %}
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8">
    <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
    <div id="wrapper">
        <!-- #wrapper -->
        <header>
            <!-- header -->
            <h1><a href="/">{{ page.author }}</a></h1>
            <h2><a href="/">{{ page.desc }}</a></h2>
        </header>
        <!-- end of header -->
        <nav>
            <!-- top nav -->
            <div class="menu">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/mainpages/blogs.html">博客</a></li>
                    <li><a href="/mainpages/OSX_iOS.html">OS X & iOS</a></li>
                    <li><a href="/mainpages/dev.html">Development</a></li>
                    <li><a href="/mainpages/crack.html">破解</a></li>
                    <li><a href="/mainpages/about.html">关于我</a></li>
                </ul>
            </div>
            <section id="main">
                <!-- #main content and sidebar area -->
                <div id="content">
                    <article class="articlecontent">{{ content }}</article>
                </div>
                <aside>
                    <section rel="author">
                        <h3>Who's doorxp</h3>
                        <img src="/images/doorxp.jpg">
                        <p>email:<a href="mailto:{{author.mail}}">{{author.mail}}</a></p>
                        <p>twitter:<a href="http://twitter.com/{{author.twitter}}">twitter.com/{{author.twitter}}</a></p>
                    </section>
                    <section>
                        <h3>收藏<h3>
                        <ul>
                          <li><a href="http://blog.doorxp.com"> 我的Blog</a></li>
                          <li><a href="http://my.csdn.net/doorxp"> 我的CSDN</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Categories</h3>
                        <ul>
                            <li style="list-style: none">{% for category in site.categories %}
                            </li>
                            <li><a href="/category/{{category | first}}.html">{{category |
first}} ({{category | last | size }})</a></li>
                            <li style="list-style: none">{% endfor %}</li>
                        </ul>
                    </section>
                </aside>
            </section>
            <!-- end of #main content and sidebar-->
            <footer>
                <section id="footer-area">
                    <section id="footer-outer-block">
                        <aside class="footer-segment">
                            <h4>Friends</h4>
                            <ul>
                                <li><a href="http://vim-adventures.com/#">vim-adventures</a></li>
                                <li><a href="http://115.com/">115</a></li>
                                <li><a href="../google-blockly/demos/maze/index.html" title="Maze Game">Maze Game for Developer</a></li>
                                <li><a href="http://gitbook.liuhui998.com/index.html">git
中文教程</a></li>
                            </ul>
                        </aside>
                        <!-- end of #first footer segment -->
                        <aside class="footer-segment">
                            <h4>Iphone Development</h4>
                            <ul>
                                <li><a href="http://www.cocoachina.com/">cocoachina</a></li>
                                <li><a href="http://iphone.tgbus.com/">电玩巴士</a></li>
                                <li><a href="http://www.weiphone.com/">weiphone</a></li>
                                <li><a href="http://iphone.91.com/">91</a></li>
                                <li><a href="http://www.cplusplus.com/reference/">cplusplus
reference</a></li>
                                <li><a href="http://dev.gameres.com/articles.asp?style=j&amp;page=1">GameRes</a></li>
                            </ul>
                        </aside>
                        <!-- end of #second footer segment -->
                        <aside class="footer-segment">
                            <h4>Open Source</h4>
                            <ul>
                                <li><a href="http://gcc.godbolt.org/">gcc.godbolt.org</a></li>
                                <li><a href="http://github.com">GitHub</a></li>
                                <li><a href="http://sourceforge.net">sourceforge</a></li>
                                <li><a href="http://stackoverflow.com">stackoverflow</a></li>
                                <li><a href="http://freecode.com">freecode</a></li>
                            </ul>
                        </aside>
                        <!-- end of #third footer segment -->
                        <aside class="footer-segment">
                            <h4>Encourage</h4>
                            <p>尝试. 坚持. 分享. 宽容.</p>
                        </aside>
                        <!-- end of #fourth footer segment -->
                    </section>
                    <!-- end of footer-outer-block -->
                </section>
                <!-- end of footer-area -->
            </footer>
        </nav>
    </div>
    <!-- #wrapper -->
</body>

</html>
